* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/* Mobile phone */
@media only screen and (max-width: 480px) {
    main {
        width: 100vw;
        height: 100vh;
        background-color: #400;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    main {
        width: 100vw;
        height: 100vh;
        background-color: #040;
    }
}

/* Laptop  */
@media only screen and (max-width: 1024px) {
    main {
        width: 100vw;
        height: 100vh;
        background-color: #004;
    }
}

/* Computer  */
@media only screen and (min-width: 1024px) {
    main {
        width: 1024px;
        height: 100vh;
        background-color: #044;
    }
}

