* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    width: 414px;
    height: 824px;
    background-color: black;
    color: white;
    border: 1px solid red;
}

#hidden {
    display: none;
}


/*
 * Styling the first page : Open camera and take a picture
 */

.getImage #openCamera {
    display: none;
}

.getImage .openCamera {
    background-color: #ccc;
    color: black;
    border: 4px groove #fff;
    display: block;
    width:  75%;
    height: 5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}


/*
 * Styling the perspective correction
 */

.perspective #edit {
    position: relative;
    width: 100%;
    height: 100%;
}

.perspective .corners {
    position: absolute;
}

#cursor1 {
    left: 0px;
    top: 0px;
}